.content-push-down {
    /* to push the body content down
    code taken from: 
   https://stackoverflow.com/questions/24639086/navbar-fixed-top-pushes-content-on-page-up  */

    margin-top: 0.625rem;
}

.bg-img-container {
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-size: cover;
    display: inline-block;
    width: 80rem;
    position: relative;
    top: 3.8125rem;
}

/* background image */
.bg-hawaii {
    background-image: url("../assets/images/hawaii.jpg");  
}

.bg-iceland {
    background-image: url("../assets/images/iceland.jpg");
}

.bg-greece {
    background-image: url("../assets/images/greece.jpg");
}

.destination__heading {
    color: #FFF;
    font-size: 3.75rem;
    margin-left: 5rem;
    position: relative;
    top: 0.9375rem;
}

/* card component */

.card--itinerary {
    background-color: #FFF;
    box-sizing: border-box;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    list-style-type: none;
}

.card__list {
    list-style-type: none;
    padding-left: 0;
}

.card__list li {
    background-color: #FEFAF5;
    box-sizing: border-box;
    text-align: center;
    padding: 0.625rem 2.5rem;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
}

.itinerary__heading {
    font-size: 1.25rem;
    text-align: center;
    border-bottom: 0.1875rem solid #000;
    margin-bottom: 1.5625rem;
}

/* footer component */

.footer-position {
    position: relative;
    top: 2.5rem;
}