/* background image */
.destination--bg-hawaii {
    background-image: url("../assets/images/hawaii.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-size: cover;
    display: inline-block;
    width: 1280px;
    position: relative;
    top: 61px;
}

.destination--bg-iceland {
    background-image: url("../assets/images/iceland.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-size: cover;
    display: inline-block;
    width: 1280px;
    position: relative;
    top: 61px;
}

.destination--bg-greece {
    background-image: url("../assets/images/greece.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    background-size: cover;
    display: inline-block;
    width: 1280px;
    position: relative;
    top: 61px;
}

.destination__heading {
    color: #FFF;
    font-size: 60px;
    margin-left: 5rem;
    position: relative;
    top: 15px;
}

/* card component */

.card--itinerary {
    background-color: #FFF;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}

.card__itinerary-schedule {
    list-style-type: none;
    padding-left: 0;
}

.card__itinerary-schedule li {
    background-color: #FEFAF5;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.itinerary__heading {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 25px;
}

/* footer component */

.footer--position {
    position: relative;
    top: 40px;
}