.container {
    font-family: Verdana, Tahoma, sans-serif;
    width: 1280px;
    /* to center the website */
    margin-left: auto;
    margin-right: auto;
}

/* header component */

.header__nav {
    background-color: #FFF;
    position: fixed;
    top: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 1280px;
    display: flex;
    align-items: baseline;
    z-index: 1;
    /* so that nav is not underneath the cards */
    justify-content: space-between;
}

.nav__logo {
    text-decoration: none;
    color: #335576;
}

.nav__menu {
    list-style-type: none;
    display: inline-block;
    margin-right: 10rem;
}

.menu__elements {
    display: inline;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.menu__element-last {
    padding-right: 0;
}

.menu__elements--a-decoration {
    text-decoration: none;
    color: #000;
}

.menu__elements--active {
    /* code from https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css */
    border-bottom: 4px solid #DB7A4E;
    padding-bottom: 10px;
}

/* card components */
.card__wrapper {
    display: flex;
    justify-content: center;
}

.card__block {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    /*position relative so that text can be placed in bottom right corner */
}

.card__anchor {
    text-decoration: none;
}

.card--size {
    /* divide orginal dimensions of pics by 8 */
    width: 250px;
    height: 375px;
}


/* footer component */

.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}



.footer__title{
    color: #335576;
}

.footer__email-container {
    position: relative;
    top: 12px;
}

.footer__email {
    font-size: 14px;
    color: #335576;
}

.footer__subtitle {
    color: #DB7A4E;
    text-transform: uppercase;
    font-size: 10px;
}

/* footer hours */

.footer__hours-container {
    position: relative;
    left: 25px;
}

.footer__hours-grouping {
    position: relative;
    left: 15px;
}

.footer__hours {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 40px;
    list-style-type: none;
}

.footer__hours--text {
    font-size: 14px;
    margin-right: 15px;
    color: #335576;
}



.footer__contact-container {
    position: relative;
    left: 125px;
}

.footer__social-container {
    position: relative;
    right: 102px;
}

.footer__icon-instagram {
    width: 23.8px;
    height: 23.8px;
    margin-right: 15px;
}

.footer__icon-fb {
    width: 12.6px;
    height: 23.8px;
    margin-right: 15px;
}

.footer__icon-twitter {
    width: 26.6px;
    height: 23.8px;
    margin-right: 15px;
}

.footer__icons-container {
    position: relative;
    top: 30px;
}