main {
    /* to push the body content down
    code taken from: 
   https://stackoverflow.com/questions/24639086/navbar-fixed-top-pushes-content-on-page-up  */
    margin-top: 3.75rem;
}

/* hero component */

.hero-bg-color {
    background-color: #FEFAF5;
}

.hero {
    color: #335576;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.1875rem;
    padding-bottom: 1.875rem;
}

.hero-text {
    width: 44%;
    text-align: left;
    display: inline;
}

.hero-heading {
    padding-bottom: 0;
    margin-bottom: 1.5625rem;
    font-size: 2rem;
    display: inline-block;
}

.hero-slogan {
    display: inline-block;
}

/* hero image */
.hero-bg-img {
    background-image: url("../assets/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
    background-size: contain;
    display: inline-block;
    width: 40%;
}

.hero-button {
    color: #FFF;
    text-align: center;
    background-color: #DB7A4E;
    border-radius: 0.9375rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    position: relative;
    top: 2rem;
    text-decoration: none;
}

.recommendation-heading {
    font-size: 1.5rem;
    color: #335576;
    margin-left: 5rem;
    margin-top: 2.125rem;
}

.card__link {
    text-decoration: none;
}

/* diving deeper --hover animation */
img.card:hover {
    outline: 0.3125rem solid #DB7A4E;
}

.card__text {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 3.8125rem;
    right: 1.25rem;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bolder;
}