.main__content {
    /* to push the body content down
    code taken from: 
   https://stackoverflow.com/questions/24639086/navbar-fixed-top-pushes-content-on-page-up  */
    margin-top: 80px;
}

/* hero component */

.hero--bg-color {
    background-color: #FEFAF5;
}

.hero {
    color: #335576;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.hero__header {
    width: 44%;
    text-align: left;
    display: inline;
}

.hero__heading--text {
    padding-bottom: 0;
    margin-bottom: 25px;
    font-size: 2rem;
    display: inline-block;
}

.hero__slogan {
    display: inline-block;
}

/* hero image */
.hero__bg-img {
    background-image: url("../assets/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: contain;
    display: inline-block;
    width: 40%;
}


.hero__button {
    color: #FFF;
    text-align: center;
    background-color: #DB7A4E;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    position: relative;
    top: 2rem;
    text-decoration: none;
}

/* recommendations component */

.recommendation__heading {
    font-size: 1.5rem;
    color: #335576;
    margin-left: 5rem;
    margin-top: 2.125rem;
}

.card__text {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 61px;
    right: 20px;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bolder;
}